.nav-link{
    color:darkslategrey;
}
.nav-link:hover{
    color: darkcyan;
}
.navbar-brand{
    font-size: 50px;
    font-style:  'Great Vibes', cursive;
}
* {
    font-family: 'Roboto', sans-serif;
}
/* footer{
    margin-bottom: 0px;
} */